run = "npm run replit"
hidden = [".config", "package-lock.json"]

[packager]
language = "nodejs"

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.jsx]
pattern = "**/*.jsx"
syntax = "jsx"

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"

[languages.tsx]
pattern = "**/*.tsx"
syntax = "tsx"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun" 